a:hover,
a:focus {
    color: #FE7A66;
}

a,.tp-caption a.btn:hover {
	color: #DB488F;
}
.top-nav-collapse {
	background: #DB488F;
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	color: #DB488F;
}

.team-wrapper-big:hover .team-wrapper-overlay, .team-wrapper-small:hover .team-wrapper-overlay { background: #FE7A66; }

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: #DB488F;
}

.widget-avatar .avatar:hover {
    border: 5px solid #DB488F;
}

.bg-skin {
	background: #DB488F;
}

.highlight-color {
	background-color: #DB488F;
}


/* portfolio */




/* blog */

ul.comment-meta li a:hover {
	color: #DB488F;
}

ul.comment-meta li.reply a {
	background: #DB488F;
}

.pagination > li > a,
.pagination > li > span {
  color: #DB488F;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #DB488F;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #DB488F;
  border-color: #DB488F;
}
.sidebar .widget ul li a:hover {
	color: #DB488F;
}

.widget .tagcloud a {
  background: #DB488F;
}

.flex-control-paging li a.flex-active { background: #DB488F;
	}


/* footer */
ul.footer-menu li a:hover {
	color: #DB488F;
}

footer a.totop:hover {
	color: #DB488F;
}


.btn-skin {
  color: #fff;
  background-color: ‎#DB488F;
  border-color: ‎#DB488F;
}
